:root {
  --primary-color: #3498db; /* Blue */
  --secondary-color: #e74c3c; /* Red */
  --background-color: #ecf0f1; /* Light gray */
  --text-color: #2c3e50; /* Dark blue */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Arial", sans-serif;
}

a,
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

a:hover,
button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}
header {
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav {
  background: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: var(--primary-color);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  text-align: center;
}
